* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

header {
    padding: 20px 35px;
    background-color: #36454F;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1{
    background-color: skyblue;
    color: black;
    text-decoration: none;
    padding: 5px 50px 5px 50px;
    margin: 0px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-bottom: 5px solid white;
}

header nav ul li {
    display: inline;
}

/*banner style begins*/

.banner-img {
    background-image: url("banner-photo2.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    display: flex;
}

.my-picture {
    height: 125px;
    width: 100px;
    margin: 20px;
    display: flex;
    align-self: flex-end;
    font-size: 18px;
    border: 3px solid black;
    background-image: url("DC-win-photo.png");
}

/*banner style ends*/

/*About Me style starts*/

.primary-style {
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.about-me-title {
    padding: 10px;
    text-align: center;
}

.about-me-content p {
    margin: 40px;
    padding-left: 80px;
    border-left: 3px solid black;
}
/*About me style ends*/

/*Work style starts */

.work-title {
    height: 400px;
    padding: 50px;
    display: flex;
    align-items: stretch;
}

.work-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-left: 3px solid black;
}

.Surf-report {
    width: 100%;
    height: 200px;
    margin: 10px;
    padding-top: 10px;
    border: 5px solid skyblue;
    text-align: center;
    text-decoration: none;
    background-color: #36454F;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-image: url("surfreport.avif");
}

.Surf-report:hover:hover {
    opacity: .5;
}

.LED-wall {
    width: 450px;
    height: 150px;
    margin: 10px;
    padding-top: 10px;
    border: 5px solid skyblue;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-image: url("get_flix_and_chill_homepage.png");
}

.LED-wall:hover {
    opacity: .5;
}

.calculator {
    width: 450px;
    height: 150px;
    margin: 10px;
    padding-top: 10px;
    border: 5px solid skyblue;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-image: url("calculator-photo.jpg");
}

.calculator:hover {
    opacity: .5;
}

.pastel-puzzles {
    width: 450px;
    height: 150px;
    margin: 10px;
    padding-top: 10px;
    border: 5px solid skyblue;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-image: url("Pastelpuzzle.webp");
}

.pastel-puzzles:hover {
    opacity: .5;
}

.run-buddy {
    width: 450px;
    height: 150px;
    margin: 10px;
    padding-top: 10px;
    border: 5px solid skyblue;
    text-decoration: none;
    text-align: center;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-image: url("hero-bg.jpg");
}

.run-buddy:hover {
    opacity: .5;
}


.work-tag {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    padding: 5px;
    color: black;
    background-color: skyblue;
}

.work-tag h4 {
    font-size: 16px;
}

/*work style ends*/

footer {
    background-color: #36454F;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.footer-title {
    text-align: center;
    margin: 0px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 18px;
}

footer h2 {
    color: white;
    text-decoration: none;
    padding: 5px 50px 5px 50px;
    margin: 0px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}


/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        width: 100%;
        padding: 10px;
    }

    header h1 {
        margin: 5px 10px 5px 10px;
    }
    
    header nav ul li {
        display: flex;
        align-items: center;
    }

    .primary-style {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .about-me-title {
        height: 100px;
        width: 100px;
        padding: 20px;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
    }
    
    .about-me-content p {
        border-top: 3px solid black;
        border-left: none;
        margin-top: 0px;
        padding: 10px
    }

    .work-title {
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
    }
    
    .work-boxes {
        border-top: 3px solid black;
        border-left: none;
    }

    .contact-me {
        max-height: fit-content;

    }
    
    .footer-content ul li {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
